@import url('https://fonts.googleapis.com/css2?family=Poppins');


:root {
	--white: #ecf3f8;
	--accent: #65c7d6;
}

// color: #08293b;

body {
	margin: 1.5em;
	font-family: 'Poppins', sans-serif;	
	
}

.wrapper {
	// position: relative;
	// z-index: 1;
	// display: inline-block;
	// width: 100vh;
	height: 90vh;
	// overflow: hidden;
	// overflow-y: scroll;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../../images/crest.jpg");
	// background: #08293b;
	background-size: 100% auto;
	background-repeat: no-repeat;
	// background-position-x: 32%;
	// background-position-y: 25%;
	width: 100%;
	height: 300vh;
	z-index: -1;
}

a {
	text-decoration: none;
	font-size: 1.3rem;
}

.logo {
	position: fixed;
	color: var(--white);
	font-weight: bold;
	font-size: 1.7rem;
	z-index: 1;
	span {
		color: var(--accent);
	}

}

header {
	position: fixed;
	font-weight: 500;
	letter-spacing: .1rem;
	width: 100%;
	display: inline-block;
	// float: left;
	justify-content: space-between;
	z-index: 1;

	// svg {
	// 	display: none;
	// 	visibility: hidden;
	// 	width: 2.3em;
	// 	// margin-top: -.6em;
	// 	// cursor: pointer;
	// }
}

nav {
	position: relative;
	z-index: 1;
	left: 50%;
	// top: 0%;
	padding: 0em;
	font-weight: 300;
	// z-index: 998;
	text-transform: uppercase;
	font-size: 1rem;
	transform: translateX(100%);
	transition: transform .5s ease-in-out;

	ul {
		padding: 0;
		list-style-type: none;
		// transform: translateX(100%);
		// 
		a {
			font-size: 1.3rem;
			color: var(--white);
			display: block;

			&:hover{
				color: var(--accent);
				// font-weight: 700;
				// text-transform: lowercase;
				// text-decoration: underline;
				// text-decoration-thickness: 0.05em;
				// text-underline-offset: .05em;
			}

		}
	}
}



// .hero {
// 	height: 90vh;
//     animation: moveDown 1s ease-in-out forwards;
// }

.nav-menu {
	// float: right;
	position: fixed;
	z-index: 2;
	right: 0%;
	top: 0%;
	// z-index: 1;
	// float: right;
	// display: none;
	padding: 1.5em;
	
	&:hover {
		cursor: pointer;
	}
}

.nav-bar1, .nav-bar2 {
	width: 38px;
	height: 4px;
	background-color: var(--white);
	margin: 10px 0;
	transition: 0.4s;
}

.menu-click {
	transform: translateX(0);
}

.menu-click .nav-bar1 {
	-webkit-transform: translate(0px, 8px) rotate(-45deg);
	transform: translate(0px, 8px) rotate(-45deg);
	background-color: var(--accent);
	height: 6px;

}

.menu-click .nav-bar2 {
	-webkit-transform: translate(0px, -8px) rotate(45deg);
	transform: translate(0px, -8px) rotate(45deg);
	background-color: var(--accent);
	height: 6px;
}

section {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.projects {

    img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }
    .desc {
        line-height: 1.5rem;
    }
}

@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em;
    }

}

@media only screen and (min-width: 920px) {



    nav {
        // transform: translateX(0);
        // position: unset;
		// right: 0;
		// z-index: 800;
        display: block;
        width: auto;
        height: auto;
        background: none;

		ul {
            display: flex;
            margin: 0;
			padding: 0;
			
			a {
				padding: 0.2em 1.5em;
				// float: right;
			}
		}
		
	}
}

// // set max width
// @media only screen and (min-width: 1200px) {

// 	.background {
// 		position: unset;
// 		width: 1200px;
// 		margin: 0 auto;

// 	}
//     .wrapper {
//         width: 1200px;
//         margin: 0 auto;
//     }

// }